body {
    height: 100vh;
}

h1 {
    align-self: center;
    font-size: 9px;
    font-family: 'Press Start 2P', cursive;
}

h2 {
    align-self: center;
    font-size: 9px;
    font-family: 'Press Start 2P', cursive;
}

.container {
    position: relative;
    justify-content: center;
}

.nohover {
    pointer-events: none;
}

#first {
    background-image: url('../photos/leftpokedex.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 305px;
    height: 474px;
}
#second {
    background-image: url("../photos/rightpokedex.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 305px;
    height: 474px;
}

#poketype {

}

#pokename {
    display: inline-block;
    position: absolute;
    left: 480px;
    top: 150px;
}
#convertedWeight {
    display: inline-block;
    position: absolute;
    right: 85px;
    top: 170px;
}

#convertedHeight {
    display: inline-block;
    position: absolute;
    right: 220px;
    top: 170px;
}