body {
    height: 100vh;
}

h1 {
    align-self: center;
    font-size: 9px;
    font-family: 'Press Start 2P', cursive;
}

h2 {
    align-self: center;
    font-size: 9px;
    font-family: 'Press Start 2P', cursive;
}

.container {
    padding-top: 100px;
    position: relative;
    justify-content: center;
}

#first {
    background-image: url('../photos/leftpokedex.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 305px;
    height: 474px;
}

#first-text-info {

}
#second {
    background-image: url("../photos/rightpokedex.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 305px;
    height: 474px;
}

#second-text-info {
    position: absolute;
    left: 60px;
    top: 120px;
}

#pokeimg {
    width: 150px;
    height: 150px;
}

img {
    align-self: center;
    max-width: 300px;
    max-height: 300px;
    min-height: 300px;
    object-fit: contain;
}

#buttons {
    position: absolute;
    bottom: 50px;
}